* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row nowrap;
  background-color: yellow;
  height: 800px;
}

.flex-item {
  width: 100%;
  background-color: red;
  color: aliceblue;
}

.flex-item:nth-child(3) {
  /*Permite que eu alinhe um elemento de forma diferente dos demais dentro 
  do container*/
  align-self: flex-end;
}

.flex-item:nth-child(4) {
  align-self: center;
}

.flex-item:nth-child(2) {
  align-self: stretch;
}