* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #5353cf;
}

.grid {
  box-sizing: border-box;
  padding: 15px;
}

.grid::after {
  content: '';
  display: block;
  clear: both;
}

.grid .col {
  box-sizing: border-box;
  width: 33.33%;
  height: 300px;
  float: left;
  padding: 15px;
}

.grid .col-content {
  width: 100%;
  height: 100%;
  /*cores em hexadecimal abcdef123456789
  as cores serão passadas de 2 em 2 caracteres
  onde 2 primeiros são red
  depois green
  depois blue*/
  /*background: #FF0000;*/ /*vermelho*/
  /*background: #00FF00;*/ /*verde*/
  /*background: #0000FF;*/ /*azul*/
  
  
  background: rgb(150, 200, 100, 0.2);
}