* {
  margin: 0;
  padding: 0;
}

/*Por padrão o navegador vai ter fonte de 16px, então, podemos usar o seguinte cálculo
a font-size vai ser de 62,5% da fonte do navegador, de modo que vai ter exatamente o 
tamanho de 10px, tendo em vista que 10px equivale a 62,5% de 16px,
dessa forma, ao usar o REM como unidade de medida, 1 significa que é 10px,
1.6rem significa que é 16px*/

/*essa medida do rem pode ser usada de modo geral, não apenas para a fonte de modo que somente 
tenho que ter em mente que preciso sempre multiplicar por 10 o tamanho que eu quero, 
no caso se eu quero que tenha 300 tenho que colocar o tamanho de 30rem que no caso vai ser 
multiplicado por 10  que é o tamanho que eu estipulei no html*/

/*o uso das unidades de medida relativas, se aplica ao uso que o usuario pode fazer quanto
ao tamanho padrao do navegador, e tamanho de fonte por exemplo*/

#div-unidade-absoluta, #div-unidade-relativa {
  width: 100vw;
  height: 100vh;
  background-color: rgba(80, 218, 137, 0.2);
}

#div-unidade-relativa {
  background-color: rgba(55, 84, 179, 0.2);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth; /*adiciona uma espécie de efeito, faz rolagem entre páginas
  ficar mais bonita, ao invés de pular para outra página quando usado menu de navegação*/
}

.unidades {
  margin-bottom: 30px;
  margin: 0 50px;
}

.relativas, .absolutas {
  border: 5px solid black;
  margin-bottom: 10px;
  padding: 20px;
  width: auto;
  height: auto;
}

.titulo {
  margin: 20px 0 0 40px;
}

.lista-unidades {
  margin: 10px 0 0 40px;
}

.resumo {
  margin: 30px 0 0 20px;
}

.titulo {
  margin: 20px 0 0 55px;
}

#separador {
  height: 30px;
}

.menu {
  margin-top: 5px;
  cursor: pointer;
}

.menu-navegar {
  text-decoration: none;
  color: black;
}

.link-unidades {
  text-align: center;  
  height: 80px;
  width: 100%;
  background-color: bisque;
  padding: 20px 0 20px 0;
}

.link {
  text-decoration: none;
  font-size: 30px;
  color: black;
  font-style: italic;
}

.lista-item {
  margin-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.fundo-pagina {
  font-size: 1.6rem;
  min-width: 450px;
}