* {
  margin: 0;
  padding: 0;
}

.pai h1+p {
  color: red;
}

.pai p+h1 {
  color: blue;
}

.pai h1~p {
  font-style: italic;
  font-size: 20px;
}

.pai-div .um~.dois {
  color: red;
}

.pai-div .dois~.um {
  color: blue;
}

.pai-div .um+.dois {
  color: blueviolet;
}

.pai-div .dois+.um {
  color: cyan;
}

/*a palavra deve ser o atributo*/
[meu-atributo="vermelho"] {
  color: red
}

/*a palavra deve ser o atributo*/
[meu-atributo="rosa"] {
  color: darkmagenta
}

/*deve conter a palavra em um dos atributos quando tiver mais de um*/
[meu-atributo~="amarelo"] {
  color: yellowgreen
}

/*a palavra deve ser seguida por traço*/
[meu-atributo|="aqua"] {
  color: aqua
}

/*começa com a palavra*/
[meu-atributo^="green"] {
  color: green
}

/*termina com a palavra*/
[meu-atributo$="green"] {
  color: blue
}

/*contém a palavra, mesmo que seja um pedaço do primeiro atributo, 
espaço e um pedaço do segundo*/
[meu-atributo*="green"] {
  color: blue
}

[checked] {
  width: 50px;
  height: 50px;
}