.subtitulo {
  color: rgb(219, 200, 124)
}

.fundo_texto {
  background-color: black;
  height: 100%;
  width: 800px;
}

.main-content {
  background-color: bisque;
  height: 100%;
  width: 800px; 
}

#titulo-main-content {
  color: black;
}

#titulo-main-content {
  font-style: italic;
}

.main-content h2 {
  font-style: italic;
  color: crimson;
}

.fundo_texto .titulo {
  font-style: italic;
  color: white;
}

body.body-principal div.fundo_texto h2.titulo {
  color: wheat;
}